<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cititor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body >

<div class="grid-x grid-padding-x">
  <div class="columns small-12 large-12">
    <img src="images/logo.jpg" alt="My Image">
    <a class="button2" href="cititor_imprumuturi.html" style="text-align: center; ">Imprumuturi</a>

    <a class="button2" href="cititor_evenimente.html" style="text-align: center; ">Evenimente</a>
    <a class="button2" href="cititor_rezervari_sali.html" style="text-align: center; ">Rezerva o sala</a>
    <a class="button2" href="cititor_setari_profil.html" style="text-align: center; ">Setari profil</a>

    <a class="button2" href="cititor_mesaje.html" style="text-align: center; ">Mesaje</a>
    <a class="button1" href="index.html"; style="text-align: center;font-weight:bold   ">Deconectare</a>


    <!--  <img th: src="@{/images/logo.jpg}" alt="My Image">-->

  </div>
</div>
</div>
<br><br><br>
<div class="column small-12 large-12" style=" opacity: 80%;  border-radius: 25px ; ">



  <div class="column small-12 large-12">


    <input type="text" placeholder="Cauta o carte" style="border-radius: 25px";>
    <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> Cauta  </a>

  </div>

</div>
<br><br><br>
<div class="column small-12 large-12">



</div>
<br><br><br>
<br><br><br>
<div class="small-12 large-2 cell"
     style=" background-color: rgba(255,255,255,0.73) ;;background-size: cover;background-attachment: fixed;border-color: #33b4c2;border-width:2px;border-style:solid;border-radius: 50px;">

  <br>
  <h2 th:text="${message}">Titlu carte</h2>
  <h2 th:text="${message}">Autor</h2>

  <!--  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> vezi mai multe detalii </a>-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">vezi detalii</button>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pop-up Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This is the content of the pop-up window.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px">Imprumuta </a>
  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px">Rezerva </a>


  <br><br>

  <br><br>

</div>
<div class="small-12 large-2 cell"
     style=" background-color: rgba(255,255,255,0.73) ;;background-size: cover;background-attachment: fixed;border-color: #33b4c2;border-width:2px;border-style:solid;border-radius: 50px;">

  <br>
  <h2 th:text="${message}">Titlu carte</h2>
  <h2 th:text="${message}">Autor</h2>

  <!--  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> vezi mai multe detalii </a>-->

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">vezi detalii</button>

  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px">Imprumuta </a>
  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px">Rezerva </a>


  <br><br>

  <br><br>

</div>
<div class="small-12 large-2 cell"
     style=" background-color: rgba(255,255,255,0.73) ;;background-size: cover;background-attachment: fixed;border-color: #33b4c2;border-width:2px;border-style:solid;border-radius: 50px;">

  <br>
  <h2 th:text="${message}">Titlu carte</h2>
  <h2 th:text="${message}">Autor</h2>

  <!--  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> vezi mai multe detalii </a>-->

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">vezi detalii</button>

  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px">Imprumuta </a>
  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px">Rezerva</a>


  <br><br>

  <br><br>

</div>





</body>
</html>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
