<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Librarium</title>
</head>
<body>
<div class="grid-x grid-padding-x">
  <div class="columns small-12 large-12">
    <img src="images/logo.jpg" alt="My Image">
    <a class="button2" href="cititor_imprumuturi.html" style="text-align: center; ">Imprumuturi</a>

    <a class="button2" href="cititor_evenimente.html" style="text-align: center; ">Evenimente</a>
    <a class="button2" href="cititor_rezervari_sali.html" style="text-align: center; ">Rezerva o sala</a>
    <a class="button2" href="cititor_setari_profil.html" style="text-align: center; ">Setari profil</a>

    <a class="button2" href="cititor_mesaje.html" style="text-align: center; ">Mesaje</a>
    <a class="button1" href="index.html"; style="text-align: center;font-weight:bold   ">Deconectare</a>


    <!--  <img th: src="@{/images/logo.jpg}" alt="My Image">-->

  </div>
</div>
<br><br><br>
<div class="column small-12 large-12" style=" opacity: 80%;  border-radius: 25px ; ">



  <div class="column small-12 large-12">


    <input type="text" placeholder="Cauta din data de pana in data de" style="border-radius: 25px";>
    <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> Cauta  </a>

  </div>

</div>
<br><br><br>
<div class="small-12 large-2 cell"
     style=" background-color: rgba(255,255,255,0.73) ;;background-size: cover;background-attachment: fixed;border-color: #33b4c2;border-width:2px;border-style:solid;border-radius: 50px;">

  <br>
  <h2 th:text="${message}">Sala2</h2>

  <!--  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> vezi mai multe detalii </a>-->


  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px">Rezerva </a>


  <br><br>

  <br><br>

</div><br><br>
<div class="small-12 large-2 cell"
     style=" background-color: rgba(255,255,255,0.73) ;;background-size: cover;background-attachment: fixed;border-color: #33b4c2;border-width:2px;border-style:solid;border-radius: 50px;">

  <br>
  <h2 th:text="${message}">Sala4</h2>

  <!--  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> vezi mai multe detalii </a>-->


  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px">Rezerva </a>


  <br><br>

  <br><br>

</div><br><br>
<div class="small-12 large-2 cell"
     style=" background-color: rgba(255,255,255,0.73) ;;background-size: cover;background-attachment: fixed;border-color: #33b4c2;border-width:2px;border-style:solid;border-radius: 50px;">

  <br>
  <h2 th:text="${message}">Sala7</h2>

  <!--  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> vezi mai multe detalii </a>-->


  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px">Rezerva </a>


  <br><br>

  <br><br>

</div><br><br>
</body>
</html>