<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="grid-x grid-padding-x">
  <div class="columns small-12 large-12">
    <img src="images/logo.jpg" alt="My Image">

  </div>
</div>
<h1>Creeare cont</h1>

<form action="#" th:action="@{/submit}" th:object="${user}" method="post">
  <label for="nume">Nume:</label>
  <input type="text" id="nume" th:field="*{nume}" />

  <br /> <br />
  <label for="prenume">Prenume:</label>
  <input type="text" id="prenume" th:field="*{prenume}" />

  <br /> <br />
  <label for="varsta">Varsta:</label>
  <input type="text" id="varsta" th:field="*{varsta}" />

  <br /> <br />
  <label for="telefon">Telefon:</label>
  <input type="text" id="telefon" th:field="*{telefon}" />

  <br /> <br />
  <label for="email">Email:</label>
  <input type="text" id="email" th:field="*{email}" />

  <br /> <br />
  <label for="strada">Strada:</label>
  <input type="text" id="strada" th:field="*{strada}" />

  <br /> <br />
  <label for="oras">Oras:</label>
  <input type="text" id="oras" th:field="*{oras}" />

  <br /> <br />
  <label for="cod_postal">Cod Postal:</label>
  <input type="text" id="cod_postal" th:field="*{cod_postal}" />

  <br /> <br />
  <label for="judet">Judet:</label>
  <input type="text" id="judet" th:field="*{judet}" />

  <br /> <br />
  <label for="apartament">Apartament:</label>
  <input type="text" id="apartament" th:field="*{apartament}" />

  <br /> <br />
  <label for="bloc">Bloc:</label>
  <input type="text" id="bloc" th:field="*{bloc}" />

  <br /> <br />

  <label for="scara">Scara:</label>
  <input type="text" id="scara" th:field="*{scara}" />

  <br /> <br />
  <label for="ocupatie">Ocupatie:</label>
  <input type="text" id="ocupatie" th:field="*{ocupatie}" />

  <br /> <br />
  <label for="parola">Parola:</label>
  <input type="email" id="parola" th:field="*{parola}" />

  <br /> <br />

  <button type="submit">Trimite</button>
</form>
</body>
</html>