<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<div class="grid-x grid-padding-x">
  <div class="columns small-12 large-12">
    <img src="images/logo.jpg" alt="My Image">

    <a class="button2" href="admin_cititori.html" style="text-align: center; ">Cititori</a>

    <a class="button2" href="admin_bibliotecari.html" style="text-align: center; ">Bibliotecari</a>
    <a class="button1" href="admin_carti.html"; style="text-align: center;font-weight:bold   ">Carti</a>
    <a class="button2" href="admin_sali_biblioteca.html" style="text-align: center; ">Sali biblioteca</a>
    <a class="button2" href="admin_evenimente.html" style="text-align: center; ">Evenimente</a>
    <a class="button2" href="admin_aprobari_respingeri.html" style="text-align: center; ">Aprobari/Respingeri</a>
    <a class="button2" href="admin_mesaje" style="text-align: center; ">Mesaje</a>

    <a class="button2" href="index.html" style="text-align: center; ">Deconectare</a>

  </div>
</div>
</div>
<br><br><br>

<div class="column small-12 large-12">


  <input type="text" placeholder="Cauta dupa nume" style="border-radius: 25px";>
  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> Cauta  </a>

</div>
<br><br><br>
<a th:href="@{/admin_adauga_carte}" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> Adauga carte </a>
<br><br><br>
<table>
  <tr>
    <th>ID</th>
    <th>Titlu</th>
    <th>Categorie</th>
    <th>Limba</th>
    <th>Editura</th>
    <th>Tip coperta</th>
    <th>Numar pagini</th>
    <th>Autor</th>
    <th>Colectie</th>
    <th>ISBN</th>
    <th>Latime</th>
    <th>Inaltime</th>

    <th>Descriere</th>
    <th>An aparitie</th>

    <th>Disponibilitate</th>
    <th>Actiuni</th>

  </tr>

  <!-- Utilizați Thymeleaf pentru a itera peste utilizatori și afișați datele în tabel -->
  <tr th:each="carte : ${carti}">
    <td th:text="${carte.id}">ID</td>
    <td th:text="${carte.titlu}">Titilu</td>
    <td th:text="${carte.categorie}">Categorie</td>
    <td th:text="${carte.limba}">Limba</td>
    <td th:text="${carte.editura}">Editura</td>
    <td th:text="${carte.tipCoperta}">Tip coperta</td>
    <td th:text="${carte.nrPagini}">Numar Pagini</td>
    <td th:text="${carte.autor}">Autor</td>
    <td th:text="${carte.colectie}">Colectie</td>
    <td th:text="${carte.isbn}">ISBN</td>
    <td th:text="${carte.latime}">Latime</td>
    <td th:text="${carte.inaltime}">Inaltime</td>
    <td th:text="${carte.descriere}">Descriere</td>
    <td th:text="${carte.dataPublicarii}">An aparitie</td>

    <td th:text="${carte.disponibilitate}">Disponibilitate</td>
    <td>

<!--      <a th:if="${carti != null}"  th:href="@{/admin_carti/edit/{id}(id=${carti.id})}" class="btn btn-primary">Editare</a>-->
      <a th:if="${carti != null}" th:href="@{/admin_carti/edit/{id}(id=${carte.id})}" class="btn btn-primary">Editare</a>
<!--      <a th:if="${carti != null}"  th:href="@{/admin_carti/{id}(id=${carti.id})}" class="btn btn-danger">Stergere</a>-->
      <a th:each="carte : ${carti}" th:href="@{/admin_carti/{id}(id=${carte.id})}" class="btn btn-danger">Stergere</a>

    </td>





  </tr>
</table>
</body>
</html>


