<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="grid-x grid-padding-x">
  <div class="columns small-12 large-12">
    <img src="images/logo.jpg" alt="My Image">

    <a class="button2" href="admin_cititori.html" style="text-align: center; ">Cititori</a>

    <a class="button2" href="admin_bibliotecari.html" style="text-align: center; ">Bibliotecari</a>
    <a class="button1" href="admin_carti.html"; style="text-align: center;font-weight:bold   ">Carti</a>
    <a class="button2" href="admin_sali_biblioteca.html" style="text-align: center; ">Sali biblioteca</a>
    <a class="button2" href="admin_evenimente.html" style="text-align: center; ">Evenimente</a>
    <a class="button2" href="admin_aprobari_respingeri.html" style="text-align: center; ">Aprobari/Respingeri</a>
    <a class="button2" href="admin_mesaje" style="text-align: center; ">Mesaje</a>

    <a class="button2" href="index.html" style="text-align: center; ">Deconectare</a>



  </div>
</div>
</div>
<br><br><br>
<div class="small-12 large-2 cell"
     style=" background-color: rgba(255,255,255,0.73) ;;background-size: cover;background-attachment: fixed;border-color: #33b4c2;border-width:2px;border-style:solid;border-radius: 50px;">

  <br>

  <h2 th:text="${message}">Nume   Prenume</h2>

  <!--  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> vezi mai multe detalii </a>-->

<!-- // <h2 th:text="${message}">Perioada imprumut</h2>-->
  <h2 th:text="${message}">Status: aprobat</h2>




  <br><br>

  <br><br>

</div>
<div class="small-12 large-2 cell"
     style=" background-color: rgba(255,255,255,0.73) ;;background-size: cover;background-attachment: fixed;border-color: #33b4c2;border-width:2px;border-style:solid;border-radius: 50px;">

  <br>

  <h2 th:text="${message}">Nume   Prenume</h2>
<!--  <h2 th:text="${message}">Perioada imprumut</h2>-->
  <h2 th:text="${message}">Status: aprobat</h2>
  <!--  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> vezi mai multe detalii </a>-->


  <br><br>

  <br><br>

</div>
<div class="small-12 large-2 cell"
     style=" background-color: rgba(255,255,255,0.73) ;;background-size: cover;background-attachment: fixed;border-color: #33b4c2;border-width:2px;border-style:solid;border-radius: 50px;">

  <br>

  <h2 th:text="${message}">Nume   Prenume</h2>

  <!--  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> vezi mai multe detalii </a>-->

<!--  <h2 th:text="${message}">Perioada imprumut</h2>-->
  <h2 th:text="${message}">Status: respins</h2>

  <br><br>

  <br><br>

</div>
<a href="admin_aprobari_respingeri.html" class="button"  >vezi aprobari/respingeri </a>

</body>
</html>