<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<div class="grid-x grid-padding-x">
  <div class="columns small-12 large-12">
    <img src="images/logo.jpg" alt="My Image">
    <a class="button2" href="admin_cititori.html" style="text-align: center; ">Cititori</a>

    <a class="button2" href="admin_bibliotecari.html" style="text-align: center; ">Bibliotecari</a>
    <a class="button1" href="admin_carti.html"; style="text-align: center;font-weight:bold   ">Carti</a>
    <a class="button2" href="admin_sali_biblioteca.html" style="text-align: center; ">Sali biblioteca</a>
    <a class="button2" href="admin_evenimente.html" style="text-align: center; ">Evenimente</a>
    <a class="button2" href="admin_aprobari_respingeri.html" style="text-align: center; ">Aprobari/Respingeri</a>
    <a class="button2" href="admin_mesaje" style="text-align: center; ">Mesaje</a>

    <a class="button2" href="index.html" style="text-align: center; ">Deconectare</a>



  </div>
</div>
</div>
<br><br><br>

<div class="column small-12 large-12">


  <input type="text" placeholder="Cauta dupa nume" style="border-radius: 25px";>
  <div class="grid-x grid-padding-x">
<a  th:href="@{/admin_cititor/new}"></a>
  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> Cauta  </a>
  </div>
</div>
<br><br><br>
<!--<a href="admin_adauga_cititor.html" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> Adauga cititor </a>-->
<a th:href="@{/admin_adauga_cititor}" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> Adauga cititor </a>

<br><br><br>
<h1>Lista Utilizatori</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Nume</th>
    <th>Prenume</th>
    <th>CNP</th>
    <th>Telefon</th>
    <th>Email</th>
    <th>Strada</th>
    <th>Oras</th>
    <th>Cod Postal</th>
    <th>Judet</th>
    <th>Apartament</th>
    <th>Numar</th>
    <th>Scara</th>
    <th>Ocupatie</th>
    <th>Parola</th>
    <!-- Alte antete pentru coloane -->
    <th>Acțiuni</th>
  </tr>

  <!-- Utilizați Thymeleaf pentru a itera peste utilizatori și afișați datele în tabel -->
  <tr th:each="utilizator : ${utilizatori}">
    <td th:text="${utilizator.id}">ID</td>
    <td th:text="${utilizator.nume}">Nume</td>
    <td th:text="${utilizator.prenume}">Prenume</td>
    <td th:text="${utilizator.CNP}">CNP</td>
    <td th:text="${utilizator.telefon}">Telefon</td>
    <td th:text="${utilizator.email}">Email</td>
    <td th:text="${utilizator.strada}">Strada</td>
    <td th:text="${utilizator.oras}">Oras</td>
    <td th:text="${utilizator.codPostal}">Cod Postal</td>
    <td th:text="${utilizator.judet}">Judet</td>
    <td th:text="${utilizator.apartament}">Apartament</td>
    <td th:text="${utilizator.numar}">Numar</td>
    <td th:text="${utilizator.scara}">Scara</td>
    <td th:text="${utilizator.ocupatie}">Ocupatie</td>
    <td th:text="${utilizator.parola}">Parola</td>
<!--    <td>-->
<!--      <div th:each="rolUtilizator : ${utilizator.roluriUtilizatoris}">-->
<!--        <span th:text="${rolUtilizator.idRol.numeRol}"></span>-->
<!--      </div>-->
<!--    </td>-->

    <td>
      <div th:each="rol : ${utilizator.role}">
        <span th:text="${rol.numeRol}"></span>
      </div>
    </td>



    <!-- Alte celule pentru datele utilizatorului -->
    <td>
      <!-- Buton de editare care duce la o pagină de editare a utilizatorului -->
<!--      <a th:href="@{/admin_editeaza_cititor/{id}/(id=${utilizator.id})}">Editare</a>-->
<!--    <a th:href="@{'/admin_editeaza_cititor/' + ${utilizator.id}}">Editare</a>-->

      <a th:if="${utilizatori != null}"  th:href="@{/admin_cititori/edit/{id}(id=${utilizator.id})}" class="btn btn-primary">Editare</a>



      <!--      <a th:href="@{'/admin_editeaza_cititor/' + utilizator.id}">Editare</a>-->



      <!--      <a th:href="@{/edit/{id}(id=${utilizator.id})}">Editare</a>-->

      <!-- Buton de ștergere care duce la acțiunea de ștergere a utilizatorului -->
      <a th:if="${utilizatori != null}"  th:href="@{/admin_cititori/{id}(id=${utilizator.id})}" class="btn btn-danger">Stergere</a>

      <a th:if="${utilizatori != null}" th:href="@{/makeBibliotecar/{id}(id=${utilizator.id})}" class="btn btn-primary">Bibliotecar</a>

<!--      <form th:action="@{/makeBibliotecar/{id}(id=${utilizator.id})}" method="post">-->
<!--        <button type="submit">Make Bibliotecar</button>-->
<!--      </form>-->
<!--      <a th:href="@{'/delete/' }+ ${utilizator.id}">Ștergere</a>-->
    </td>
  </tr>
</table>

</body>
</html>


