<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link rel="stylesheet" href="path/to/your/css/styles.css">

</head>
<body>
<div class="grid-x grid-padding-x">
  <div class="columns small-12 large-12">
    <img src="images/logo.jpg" alt="My Image">
    <a class="button2" href="admin_cititori.html" style="text-align: center; ">Cititori</a>

    <a class="button2" href="admin_bibliotecari.html" style="text-align: center; ">Bibliotecari</a>
    <a class="button1" href="admin_carti.html"; style="text-align: center;font-weight:bold   ">Carti</a>
    <a class="button2" href="admin_sali_biblioteca.html" style="text-align: center; ">Sali biblioteca</a>
    <a class="button2" href="admin_evenimente.html" style="text-align: center; ">Evenimente</a>
    <a class="button2" href="admin_aprobari_respingeri.html" style="text-align: center; ">Aprobari/Respingeri</a>
    <a class="button2" href="admin_mesaje" style="text-align: center; ">Mesaje</a>

    <a class="button2" href="index.html" style="text-align: center; ">Deconectare</a>



  </div>
</div>
</div>
<br><br><br>

<div class="column small-12 large-12">


  <input type="text" placeholder="Cauta dupa nume" style="border-radius: 25px";>
  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> Cauta  </a>

</div>
<br><br><br>


<div class="grid-x grid-padding-x">

  <div class="grid-frame">

    <div class="grid-block collapse medium-9 large-9 vertical">

      <div class="grid-block">
        <div class="grid-block small-12 medium-9 vertical">
          <div class="grid-content">
            <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
            <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Kevin Gnapoor</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Trang Pak</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Coach Carr</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Trang Pak</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
          </div>
          <div class="message-input grid-content collapse shrink">
              <span class="inline-label">
                <input type="text" placeholder="Message">
                <a href="#" class="button">Send</a>
              </span>
          </div>
        </div>
        <div class="grid-content medium-3 show-for-medium message-side-bar">
          <section class="block-list">
            <header>In This Room</header>
            <ul>
              <li><a href="#">Cady Heron</a></li>
              <li><a href="#">Kevin Gnapoor</a></li>
              <li><a href="#">Trang Pak</a></li>
              <li><a href="#">Coach Carr</a></li>
              <li><a href="#">Regina George</a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>

  </div>




</div>


<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
<script src="js/app.js"></script>
</body>
</html>


