<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bibliotecar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="grid-x grid-padding-x">
  <div class="columns small-12 large-12">
    <img src="images/logo.jpg" alt="My Image">

    <a class="button2" href="bibliotecar_imprumuturi.html" style="text-align: center; ">Imprumuturi</a>
    <a class="button2" href="bibliotecar_mesaje.html" style="text-align: center; ">Mesaje</a>

    <a class="button2" href="bibliotecar_evenimente.html" style="text-align: center; ">Evenimente</a>
    <a class="button2" href="bibliotecar_sali.html" style="text-align: center; ">Sali disponibile</a>

    <a class="button2" href="bibliotecar_setari_profil.html" style="text-align: center; ">Setari profil</a>
    <a class="button1" href="index.html"; style="text-align: center;font-weight:bold   ">Deconectare</a>

  </div>
</div>
</div>
<br><br><br>
<div class="column small-12 large-12">


  <input type="text" placeholder="Cauta un imprumut" style="border-radius: 25px";>
  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> Cauta  </a>

</div>
<br><br><br>
<a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> Sorteaza dupa data  </a>

<br><br><br>

<div class="column small-12 large-12">



</div>
<br><br><br>
<br><br><br>
<div class="small-12 large-2 cell"
     style=" background-color: rgba(255,255,255,0.73) ;;background-size: cover;background-attachment: fixed;border-color: #33b4c2;border-width:2px;border-style:solid;border-radius: 50px;">

  <br>
  <h2 th:text="${message}">Nume   carte imprumutata</h2>
  <h2 th:text="${message}">Nume   persoana care a imprumutat cartea</h2>
  <h2 th:text="${message}">Perioada imprumutului</h2>






  <br><br>

  <br><br>

</div><br><br><br>
<div class="small-12 large-2 cell"
     style=" background-color: rgba(255,255,255,0.73) ;;background-size: cover;background-attachment: fixed;border-color: #33b4c2;border-width:2px;border-style:solid;border-radius: 50px;">

  <br>
  <h2 th:text="${message}">Nume   carte imprumutata</h2>
  <h2 th:text="${message}">Nume   persoana care a imprumutat cartea</h2>
  <h2 th:text="${message}">Perioada imprumutului</h2>

  <!--  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> vezi mai multe detalii </a>-->




  <br><br>

  <br><br>

</div><br><br><br>
<div class="small-12 large-2 cell"
     style=" background-color: rgba(255,255,255,0.73) ;;background-size: cover;background-attachment: fixed;border-color: #33b4c2;border-width:2px;border-style:solid;border-radius: 50px;">

  <br>
  <h2 th:text="${message}">Nume   carte imprumutata</h2>
  <h2 th:text="${message}">Nume   persoana care a imprumutat cartea</h2>
  <h2 th:text="${message}">Perioada imprumutului</h2>

  <!--  <a href="#" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> vezi mai multe detalii </a>-->




  <br><br>

  <br><br>

</div>
<a href="bibliotecar_solicitari_imprumuturi.html" class="button"  >solicitari imprumuturi </a>
<a href="bibliotecar_arhiva_imprumut.html" class="button"  >arhiva imprumuturi </a>


</body>
</html>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
