<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Librarium</title>
</head>
<body>
<div class="grid-x grid-padding-x">
  <div class="columns small-12 large-12">
    <img src="images/logo.jpg" alt="My Image">

    <a th:href="@{/bibliotecar_pagina_principala}">Carti</a>
    <a class="button2" th:href="ad_evenimente.html" style="text-align: center; ">Imprumuturi</a>
    <a class="button1"  th:href="bibliotecar_evenimente.html"; style="text-align: center;font-weight:bold   ">Evenimente</a>
    <a class="button2"  th:href="admin_bibliotecari.html" style="text-align: center; ">Sali biblioteca</a>
    <a class="button2" th:href="@{/admin_cititori}" style="text-align: center;">Mesaje</a>
    <a class="button2" th:href="@{/admin_cititori}" style="text-align: center;">Setari</a>

    <a class="button2" href="index.html" style="text-align: center; ">Deconectare</a>



  </div>
</div>
</div>
<br><br><br>

<form  th:action="@{/adaugaEveniment}" th:object="${eveniment}" method="post">
  <label for="nume">Nume:</label>
  <input type="text" id="nume" th:field="*{nume}" />

  <br /> <br />
  <label for="dataInceput">Data inceput:</label>
  <input type="text" id="dataInceput" th:field="*{dataInceput}" />
  <br /> <br />
  <label for="oraInceput">Ora inceput:</label>
  <input type="text" id="oraInceput" th:field="*{oraInceput}" />
  <br /> <br />

  <label for="dataFinal">Data final:</label>
  <input type="text" id="dataFinal" th:field="*{dataFinal}" />
  <br /> <br />

  <label for="oraFinal">Ora final:</label>
  <input type="text" id="oraFinal" th:field="*{oraFinal}" />


  <br /> <br />
  <label for="idSala">Sala:</label>
  <input type="text" id="idSala" th:field="*{idSala}" />

  <br /> <br />
  <label for="descriere">Descriere:</label>
  <input type="text" id="descriere" th:field="*{descriere}" />

  <br /> <br />


  <button type="submit">Adauga</button>
</form>
<br /> <br />

<a href="bibliotecar_evenimente.html" class="button"  style="background-color: #33b4c2; opacity: 100%;font-size: 20px;border-radius: 20px;color:white;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;padding-top: 5px"> Renunta </a>

</body>
</html>